.btn {
  background-image: linear-gradient(253deg, #ff0000 0%, #0002ff 100%);
  width: 290px;
  margin: auto;
  padding: 12px;
  border-radius: 30px;
  font-size: 15pt;
  cursor: pointer;
  position: relative;
  color: #ffffff;
  background-color: #ff0000;
  box-sizing: border-box;
  text-transform: uppercase;

  font-family: "field-gothic-compact", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.btn:hover {
  animation: glitch-bg 0.2s steps(3) forwards;
  color: #ffffff;
}

.btn:hover::after {
  content: "_:O_ :> P_R ___D:__";
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  padding: 16px 16px 16px 16px;
  border-radius: 4px;
  animation: glitch 1s steps(10) forwards;
}

@keyframes glitch-bg {
  0% {
    background-color: #000000;
  }
  10% {
    background-color: #000000;
  }
  100% {
    filter: none;
    background-color: #000000;
  }
}

@keyframes glitch {
  0% {
    transform: translateX(-30px);
    clip: rect(-3px, 300px, 0px, 0px);
  }
  5% {
    clip: rect(0px, 300px, 0px, 0px);
  }
  10% {
    clip: rect(-3px, 300px, 0px, 0px);
  }
  15% {
    clip: rect(-3px, 300px, 0px, 0px);
  }
  20% {
    clip: rect(100px, 300px, 100px, 0px);
  }
  25% {
    clip: rect(0px, 300px, 200px, 0px);
  }
  30% {
    clip: rect(100px, 300px, 0px, 0px);
  }
  35% {
    clip: rect(0px, 300px, 200px, 0px);
  }
  40% {
    clip: rect(100px, 300px, 0px, 0px);
  }
  45% {
    background-color: #eee;
    clip: rect(-3px, 300px, 0px, 0px);
  }
  50% {
    transform: translateX(30px);
    background-color: #ff0000;
    clip: rect(100px, 450px, 100px, 0px);
  }
  75% {
    background-color: #eee;
    clip: rect(0px, 450px, 0px, 0px);
  }
  80% {
    clip: rect(100px, 450px, 100px, 0px);
  }
  85% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  90% {
    clip: rect(100px, 450px, 0px, 0px);
  }
  95% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  100% {
    clip: rect(0px, 450px, 0px, 100px);
  }
}
