.header {
  padding-top: 30px;
  background-color: black;
  height: 700px;
  color: white;
  padding-bottom: 150px;
  font-size: 20px;
}

.nav {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
}
