.info-section {
  background-color: #f3f6fa;
}

.info-title {
  font-family: "field-gothic-compact", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  padding-top: 115px;
  padding-bottom: 150px;
}

.info-box-title {
  font-family: "field-gothic-compact", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 35px;
  padding-bottom: 50px;
}

.info-box {
  padding-bottom: 150px;
}

.icon {
  width: 60px;
  margin: auto;
}

.fri-son {
  text-decoration: underline;
}
