.program-section {
  padding-bottom: 30px;
  background-color: #f5f5f5;
}

.program-title {
  font-family: "field-gothic-compact", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  padding-bottom: 50px;
  padding-top: 40px;
}

.program-text {
  padding-bottom: 60px;
}

.atelier-title {
  font-family: "field-gothic-compact", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 35px;
  padding-bottom: 50px;
}

.atelier-section {
  padding-bottom: 60px;
}
