.icon {
  width: 60px;
  margin: auto;
}

.header {
  padding-top: 30px;
  background-color: black;
  height: 700px;
  color: white;
  padding-bottom: 150px;
  font-size: 20px;
}

.nav {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
}

.about-us {
  padding-top: 100px;
  padding-bottom: 150px;
  text-align: center;
}

.about-us-title {
  font-family: "field-gothic-compact", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  padding-bottom: 50px;
}

.abt-us-txt {
  padding-bottom: 40px;
}

.program-section {
  padding-bottom: 30px;
  background-color: #f5f5f5;
}

.program-title {
  font-family: "field-gothic-compact", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  padding-bottom: 50px;
  padding-top: 40px;
}

.program-text {
  padding-bottom: 60px;
}

.atelier-title {
  font-family: "field-gothic-compact", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 35px;
  padding-bottom: 50px;
}

.atelier-section {
  padding-bottom: 60px;
}

.filler-img {
  background-color: black;
  height: 600px;
  padding-bottom: 150px;
}

.exposition-section {
  padding-bottom: 150px;
  padding-top: 150px;
}

.exposition-title {
  font-family: "field-gothic-compact", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  padding-bottom: 100px;
}

a {
  text-decoration: none;
  text-align: center;
}

.info-section {
  background-color: #f3f6fa;
}

.info-title {
  font-family: "field-gothic-compact", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  padding-top: 115px;
  padding-bottom: 150px;
}

.info-box-title {
  font-family: "field-gothic-compact", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 35px;
  padding-bottom: 50px;
}

.ticket-icon {
  width: 100px;
  margin: auto;
}

.ticket-section {
  padding-bottom: 150px;
  padding-top: 150px;
}

.ticket-section-title {
  font-family: "field-gothic-compact", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  padding-bottom: 60px;
}

.ticket-section-txt {
  padding-bottom: 40px;
}

.filler-img {
  padding-bottom: 150px;
}

.info-box {
  padding-bottom: 150px;
}

.footer {
  color: white;
  background-color: black;
}

.collab-logo {
  margin: auto;
  size: 50%;
}

.fribourg {
  height: 140px;
}

.btn {
  background-image: linear-gradient(
    253deg,
    #ff0000 0%,
    #bc0052 32%,
    #2e00ff 100%
  );
  border-radius: 35px;
  width: 250px;
  padding: 12px;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 0;
  font-family: "field-gothic-compact", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  text-align: center;
  margin: auto;
}
